//Start job styles
.job-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.job-list {
  width: 100%;
  transition: width 0.3s ease;
}

.job-list.shrinked {
  width: 65%;
}

.job-form {
  flex: 1 1 32%;

  width: 33%;
  background: #fff;
  margin: 4rem 0 1rem 0;
  border-radius: 8px;
  position: sticky;
  top: 75px;
  align-self: flex-start; // important for flexbox container
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 1rem .6rem;
}



/* ✅ 50%/50% panel split under 1024px */
@media (max-width: 1200px) {
  .job-list.shrinked,
  .job-list {
    flex: 1 1 50%;
  }

  .job-form {
    flex: 1 1 50%;
  }
}



/* ✅ Full width panels under 720px */
@media (max-width: 720px) {
  .job-container {
    flex-direction: column;
  }

  .job-list,
  .job-list.shrinked,
  .job-form {
    flex: 1 1 100%;
    width: 100%;
  }

  .job-form {
    position: static;
    top: unset;
    box-shadow: none;
    margin-bottom: 1rem;
  }
}
//end job styles
