<form [formGroup]="form" (ngSubmit)="submit()" class="job-form-grid">
  <!-- 3 in a row -->
  <mat-form-field appearance="outline">
    <mat-label>Company</mat-label>
    <input matInput formControlName="company" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Position</mat-label>
    <input matInput formControlName="position" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option
        *ngFor="
          let s of ['Applied', 'Interview', 'Rejected', 'Offered', 'On Hold'];
          trackBy: trackByStatus
        "
        [value]="s"
        >{{ s }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <!-- full width -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Notes</mat-label>
    <textarea matInput rows="3" formControlName="notes"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Applied Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="applied_date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="form-actions">
    <button
      mat-stroked-button
      color="warn"
      type="button"
      (click)="close.emit()"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.pending || form.invalid"
    >
      {{ job ? "Update" : "Add" }}
    </button>
  </div>
  
</form>
