<div class="register-container">
 
  <form [formGroup]="form" (ngSubmit)="submit()" class="register-card">
    <h2 class="registerAcc">Create Account</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <div class="button-wrapper">
      <p class="switch-auth">
        Already have an account?
        <a href="/auth/login">Login</a>
      </p>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Register
      </button>
    </div>

  </form>
  
</div>
