// app layout
.app-container {
      padding: 20px;
    }
.spacer {
  flex: 1;
}

.layout-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.mat-toolbar.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.content {
  padding: 24px;
  min-height: calc(100vh - 64px); // adjusts based on toolbar height
  background: #f9f9f9;
}


/* ---------- sidebar nav styles ---------- */
.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 500;
  color: #424242;
  transition: background 0.2s ease, color 0.2s ease;

  .nav-icon , .mat-icon{
    font-size: 20px;
    vertical-align: middle;
  }
  

  .nav-text {
    flex-grow: 1;
  }

  &:hover {
    background-color: rgba(25, 118, 210, 0.08);
    color: #1976d2;

    .nav-icon, .mat-icon {
      color: #1976d2;
    }
  }

  &.active-link {
    background-color: rgba(25, 118, 210, 0.15);
    color: #1976d2;
    border-right: 4px solid #1976d2;

    .nav-icon {
      color: #1976d2;
    }
  }
}



/* ---------- active route highlight ---------- */
.active-link {
  background-color: rgba(25, 118, 210, 0.15);
  color: #1976d2;
  border-right: 4px solid #1976d2;   /* small accent bar */
  mat-icon {
    color: #1976d2;
  }
}



//stick the nav bar to the top
.header-nav {
  position: sticky;
  top: 0px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* optional, for elevation */
}
