html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; // prevent full-page scroll
  font-family: Roboto, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
